.detail-back-link {
  font-size: 14px;
  color: var(--primary);
  text-decoration: underline;
}

.detail-header {
  font-size: 24px;
  margin: 10px 0;
}

.detail-properties {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-bottom: 20px;
}

.detail-property-key {
  font-weight: 600;
}

.detail-cta {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 8px;
}

.detail-cta-btn {
  color: var(--primary);
  font-size: 14px;
  font-weight: 600;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: var(--primaryLight);
  cursor: pointer;
  border: 1px solid var(--primaryLight);
}
